/* CSS files add styling rules to your content */

@font-face {
  font-family: "Rubik Mono One", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Rubik+Mono+One&display=swap");
}

body {
  margin: 2em;
  background: linear-gradient(to top, rgb(56, 6, 150), rgb(19, 184, 82)) fixed;
}

h1 {
  font-style: normal;
  text-shadow: 2px 3px rgb(90, 6, 146);
  color: rgb(207, 192, 52);
  font-family: "Rubik Mono One", sans-serif;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-style: normal;
  text-shadow: 2px 3px rgb(90, 6, 146);
  color: rgb(207, 192, 52);
  font-family: "Rubik Mono One", sans-serif;
  font-size: 28px;
  text-align: center;
}

p1 {
  padding: 10px;
  font-weight: 300;
  color: white;
  text-shadow: 1px 2px rgb(31, 31, 29);
  font-family: "Rubik Mono One", sans-serif;
  font-size: 20px;
  text-align: center;
}

p2 {
  padding: 14px;
  font-weight: 300;
  text-shadow: 1px 2px rgb(31, 31, 29);
  color: rgb(223, 223, 211);
  font-family: "Rubik Mono One", sans-serif;
  font-size: 25px;
  text-align: center;
}

p3 {
  font-style: italic;
  font-weight: 300;
  text-shadow: 1px 2px rgb(31, 31, 29);
  color: rgb(223, 223, 211);
  font-family: "Rubik Mono One", sans-serif;
  font-size: 22px;
  text-align: center;
}

button {
  padding: 10px;
  border-radius: 15px;
}

#startStopButtonArea > button {
  margin: 5px 0px 20px 0px;
  width: 300px;
  height: 40px;

  color: rgb(207, 192, 52);
  font-size: 20px;
  font-style: italic;
  font-family: "Rubik Mono One", sans-serif;

  box-shadow: 6px 4px 20px black;
  background: rgb(68, 4, 94);
  border: 2px solid rgb(207, 192, 52);
}

#gameButtonArea > button {
  width: 180px;
  height: 180px;
  margin: 6px;
  border-radius: 50%;
  box-shadow: 6px 4px 20px black;
}

.hidden {
  display: none;
}

#button1 {
  background: lightgreen;
  border: 7px solid green;
}

#button1:active,
#button1.lit {
  background: green;
}

#button2 {
  background: lightblue;
  border: 7px solid blue;
}

#button2:active,
#button2.lit {
  background: blue;
}

#button3 {
  background: pink;
  border: 7px solid red;
}

#button3:active,
#button3.lit {
  background: red;
}

#button4 {
  background: lightyellow;
  border: 7px solid yellow;
}

#button4:active,
#button4.lit {
  background: yellow;
}

#button5 {
  background: rgb(255, 211, 129);
  border: 7px solid orange;
}

#button5:active,
#button5.lit {
  background: orange;
}

#button6 {
  background: rgb(219, 104, 219);
  border: 7px solid purple;
}

#button6:active,
#button6.lit {
  background: purple;
}
